*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --height: 100dvh;
}
html {
  background-color: #f1f5f9;
  line-height: 1.5;
   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  /* margin: 0 auto; */
  width: 100%;
  max-width: 100%;
  min-height: var(--height);
  display: grid;
  place-items: stretch;

}
.main{
  padding: 1em;
  place-self: stretch;
  width: 100%;
  min-height: calc(var(--height) - (var(--height) * 0.25));
  height: 100%;
}
header {
  place-self: start;
  width: 100%;
  min-height: 3rem;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
a,
a:visited {
  color: blue;
  transition: all 0.1s ease;
}
a:hover {
  color: violet;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1em 2em;
  place-self: end;
}
ul {
  list-style: none;
}
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  place-content: flex-start;
  
}
.nav-links a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #0d0950;
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}
.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
:has(.menu[aria-expand="true"]) .nav-links {
  display: unset;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tag {
  margin: 0.25em;
  padding: 0.25em 0.55em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  font-size: 0.8em;
  background-color: #f8fcfd;
  width: fit-content;
}
@media screen and (min-width: 646px) {
  .menu {
    display: none;
  }
  .nav-links {
    display: flex;
    margin: 0.75em auto;
    max-width: calc(50dvw + 10em);
    position: static;
    width: auto;
    justify-content: space-around;
    background: green;
    max-height: min-content;
  }
  .nav-links a {
    display: inline-block;
    width: 100%;

  }
}
