
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #f1f5f9;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
a,a:visited {
  color: blue;
  transition: all 0.1s ease;
}
a:hover {
  color: violet;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 10px;
}
ul {
  list-style: none;
}
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}
.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #0d0950;
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}
.menu {
  background-color:#0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
:has(.menu[aria-expand="true"]) .nav-links {
  display: unset;
}
@media screen and (min-width: 646px){
  .menu {
    display: none;
  }
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }
  .nav-links a{
    display: inline-block;
    padding: 15px 20px;
  }
}