---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true })); // for pages, not collections
import { getCollection } from "astro:content";
const allPosts = await getCollection('blog');
---

<BaseLayout pageTitle="My blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />)}
  </ul>
</BaseLayout>
