---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div class="btns">
      <ThemeIcon />
      <Menu />
    </div>

    <Navigation />
  </nav>
</header>
<style>
  div.btns {
    display: flex;
    justify-content: space-between;
  }
</style>